[submodule "chocobo/Catch2"]
	path = chocobo/Catch2
	url = https://github.com/catchorg/Catch2.gits
[submodule "chocobo/tinyobjloader"]
	path = chocobo/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
